body {
	margin: 0;
    font-family: "Helvetica", sans-serif;
    color: seashell;
    background-color: black;
    font-size: 22px;
    text-align: center;
}

/*Navbar*/
header {
	display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    background-color: #000;
    font-family: Helvetica;
    font-size: 22px;
    opacity: 0.9;
    left: 0px;
    top: 0px;
}

header img {
	height: 50px;
	padding-left: 10px;
}

header nav {
	padding-right: 40px;

}

nav {
	font-family: Helvetica;
	font-size: 22px;
	display: block;
	text-align: right;
	padding: 60px;
}

nav span {
    display: inline-block;
    padding: 20px 10px;
}

nav a:visited {
	color: #fff;
}

/*Typography*/

h2, h3, h4, h5 {
	margin: 0;
	padding: 10px;
}

p {
    display: block;
}

/*Mission Section*/

#mission {
	height: 700px;
	padding-top: 70px;
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}

#mission .text-content {
	margin: auto;
    background-color: black;
    width: 100%;
}

/*Featured Tea Section*/

#featured {
	height: 700px;
	width: 1000px;
	margin: auto;
	padding-top: 70px;
}

.item {
	padding: 5px;
}

.item img {
	height: 200px;
	width: 300px;
	margin: 10px;
	display: block;
}


/*Locations Section*/

#locations {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
    height: 500px;
    padding-top: 70px;
}

.location {
    opacity: 1.0;
    padding: 10px;
    margin: 5px 20px;
    background-color: black;
    flex-basis: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Footer*/

footer {
	text-align: left;
    padding-left: 20px;
}

.flex-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/*Logo*/
.logo {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.content {
    padding-top: 69px;
    opacity: 0.9;
    width: 1200px;
    margin: auto;
}
